# Covid-19 Data Analysis and Visualization

In [1]:
import numpy as np
import pandas as pd

In [2]:
covid_df = pd.read_csv('full_grouped.csv')

In [3]:
 covid_df.drop(columns="WHO_Region", inplace=True)

In [4]:
covid_df

,date,country,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0
1,2020-01-22,Albania,0,0,0,0,0,0,0
2,2020-01-22,Algeria,0,0,0,0,0,0,0
3,2020-01-22,Andorra,0,0,0,0,0,0,0
4,2020-01-22,Angola,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24

In [5]:
def calculate_death_rate(total_cases, total_deaths):
    death_rate = (total_deaths/total_cases)*100
    return death_rate

In [12]:
class Country:
    header_list = covid_df.columns.values.tolist()
    header_list.remove('date')
    header_list.remove('country')
    country_wise_df = covid_df.groupby("country")[header_list].sum()
    def __init__(self, name):
        self.name = name

    def new_cases(self):
        return self.country_wise_df.at[self.name, 'new_cases']
    
    def confimed_cases(self):
        return self.country_wise_df.at[self.name, 'confirmed']
    
    def recovered(self):
        return self.country_wise_df.at[self.name, 'recovered']
    
    def deaths(self):
        return self.country_wise_df.at[self.name, 'deaths']

    def active(self):
        return self.country_wise_df.at[self.name, 'active']
    
    def new_deaths(self):
        return self.country_wise_df.at[self.name, 'new_deaths']
    
    def new_recovered(self):
        return self.country_wise_df.at[self.name, 'new_recovered']

In [13]:
country_obj = Country('Italy')

In [14]:
country_obj.new_cases()

246434

In [15]:
country_obj.deaths()

3707717

In [16]:
death_rate_of_italy = calculate_death_rate(country_obj.new_cases(), country_obj.new_deaths())

In [17]:
death_rate_of_italy

14.248033956353426