# Covid-19 Data Analysis and Visualization

In [225]:
import numpy as np
import pandas as pd

In [226]:
covid_df = pd.read_csv('full_grouped.csv')

In [227]:
 covid_df.drop(columns="WHO_Region", inplace=True)

In [228]:
covid_df

,date,country,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0
1,2020-01-22,Albania,0,0,0,0,0,0,0
2,2020-01-22,Algeria,0,0,0,0,0,0,0
3,2020-01-22,Andorra,0,0,0,0,0,0,0
4,2020-01-22,Angola,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24

In [229]:
def calculate_death_rate(total_cases, total_deaths):
    death_rate = (total_deaths/total_cases)*100
    return death_rate

In [230]:
class Country:
    header_list = covid_df.columns.values.tolist()
    header_list.remove('date')
    header_list.remove('country')
    country_wise_df = covid_df.groupby("country")[header_list].sum()
    def __init__(self, name):
        self.name = name

    def new_cases(self):
        return self.country_wise_df.at[self.name, 'new_cases']
    
    def confimed_cases(self):
        return self.country_wise_df.at[self.name, 'confirmed']
    
    def recovered(self):
        return self.country_wise_df.at[self.name, 'recovered']
    
    def deaths(self):
        return self.country_wise_df.at[self.name, 'deaths']

    def active(self):
        return self.country_wise_df.at[self.name, 'active']
    
    def new_deaths(self):
        return self.country_wise_df.at[self.name, 'new_deaths']
    
    def new_recovered(self):
        return self.country_wise_df.at[self.name, 'new_recovered']

In [231]:
country_obj = Country('Italy')

In [232]:
country_obj.new_cases()

246434

In [233]:
country_obj.deaths()

3707717

In [234]:
death_rate_of_italy = calculate_death_rate(country_obj.new_cases(), country_obj.new_deaths())

In [235]:
death_rate_of_italy

14.248033956353426

In [236]:
covid_df.date

0        2020-01-22
1        2020-01-22
2        2020-01-22
3        2020-01-22
4        2020-01-22
            ...
35151    2020-07-27
35152    2020-07-27
35153    2020-07-27
35154    2020-07-27
35155    2020-07-27
Name: date, Length: 35156, dtype: object

In [237]:
covid_df['date'] = pd.to_datetime(covid_df.date)

In [238]:
covid_df.date

0       2020-01-22
1       2020-01-22
2       2020-01-22
3       2020-01-22
4       2020-01-22
           ...
35151   2020-07-27
35152   2020-07-27
35153   2020-07-27
35154   2020-07-27
35155   2020-07-27
Name: date, Length: 35156, dtype: datetime64[ns]

In [239]:
covid_dt_df = covid_df.copy()

In [240]:
covid_dt_df

,date,country,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0
1,2020-01-22,Albania,0,0,0,0,0,0,0
2,2020-01-22,Algeria,0,0,0,0,0,0,0
3,2020-01-22,Andorra,0,0,0,0,0,0,0
4,2020-01-22,Angola,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24

In [241]:
covid_dt_df["month"] = pd.DatetimeIndex(covid_dt_df.date).month
covid_dt_df["year"] = pd.DatetimeIndex(covid_dt_df.date).year
covid_dt_df["day"] = pd.DatetimeIndex(covid_dt_df.date).day
covid_dt_df["weekday"] = pd.DatetimeIndex(covid_dt_df.date).weekday

In [242]:
covid_dt_df.drop(columns='date', inplace=True)

In [243]:
covid_dt_df

,country,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered,month,year,day,weekday
0,Afghanistan,0,0,0,0,0,0,0,1,2020,22,2
1,Albania,0,0,0,0,0,0,0,1,2020,22,2
2,Algeria,0,0,0,0,0,0,0,1,2020,22,2
3,Andorra,0,0,0,0,0,0,0,1,2020,22,2
4,Angola,0,0,0,0,0,0,0,1,2020,22,2
...,...,...,...,...,...,...,...,...,...,...,...,...
35151,West Bank and Gaza,10621,78,3752,6791,152,2,0,7,2020,27,0
35152,Western Sahara,10,1,8,1,0,0,0,7,2020,27,0
35153,Yemen,1691,483,833,375,10,4,36,7,2020,27,0
35154,Zambia,4552,140,2815,1597,71,1,465,7,2020,27,0
35155,Zimbabwe,2704,36,542,2126,192,2,24,7,2020,27,0

In [244]:
country_dt_df = covid_dt_df.loc[covid_dt_df['country'] == 'Afghanistan']

In [248]:
class Period:

    def __init__(self, country_name):
        self.country_name = country_name
    

    def month(self, month_number):

        country_dt_df = covid_dt_df.loc[covid_dt_df['country'] == self.country_name]
        country_dt_df.drop(columns=['year'], inplace=True)
        country_dt_df.drop(columns=['day'], inplace=True)
        country_dt_df.drop(columns=['weekday'], inplace=True)
        country_dt_df.drop(columns=['country'], inplace=True)
        header_list = country_dt_df.columns.values.tolist()
        header_list.remove('month')
        month_wise_df = country_dt_df.groupby("month")[header_list].sum()
    
        case_list = month_wise_df.loc[month_number]
        result = {}
        for header_list,case in zip(header_list, case_list):
            result[header_list] = case
        
        return result

In [249]:
time = Period('Afghanistan')

In [251]:
time.month(7)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12060\3364569302.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_dt_df.drop(columns=['year'], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12060\3364569302.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_dt_df.drop(columns=['day'], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12060\3364569302.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_dt_df.drop(columns=['weekday'], inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12060\3364569302.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_dt_df.drop(columns=['country'], inplace=True)

{'confirmed': 931389,
 'deaths': 28308,
 'recovered': 586390,
 'active': 316691,
 'new_cases': 4746,
 'new_deaths': 523,
 'new_recovered': 11067}